.DS_Store
bin/
/.project
*~
*.rej
*.bak
javacore.*
heapdump.*
core.*
Snap.*
*.xtendbin
*.java._trace
promo-repo/
build.log

# Maven/Tycho build artifats
target/
.polyglot.*
.tycho-consumer-pom.xml
pom.tycho
