<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>


   <extension
         id="repoReport"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.simrel.tests.RepoReportApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org_eclipse_simrel_reports"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.simrel.tests.repoReport"
            name="%product.name.0">
         <property
               name="appName"
               value="SimRel Reports Headless Launcher">
         </property>
      </product>
   </extension>

</plugin>
